body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

#title{
    font-size: clamp(2rem, 5vw, 4rem);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
}

#navlist{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    position: sticky;
    top: 0;
}

#navlist li a:hover{
    background-color:  #111111;
}

.navlink{
    margin: 10px;
    padding: 4px 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #f0f0f0;
    display: block;
}

#content{
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 600px;
    display: flex;
}

#event{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    display: flex;
}

